/* Add this to Hierarchy.css */
.status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .green {
    background-color: green;
  }
  
  .red {
    background-color: red;
  }
  
  .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
  }
  